{% extends "base.html" %}

{% block content %}
<div>
   <h1> Dashboard </h1>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-md-4"">
         <canvas id="tChart" width="450px" height="400px"></canvas>
         <button id="tbutton" align="center" >Refresh</button>
      </div>
      <div class="col-md-4"">
         <canvas id="hChart" width="450px" height="400px"></canvas>
         <button id="hbutton" align="center" >Refresh</button>
      </div>
      <div class="col-md-4"">
         <canvas id="pChart" width="450px" height="400px"></canvas>
         <button id="pbutton" align="center" >Refresh</button>
      </div>
   </div>
</div>

{% endblock %}
