{% extends "base.html" %}

{% block content %}
<div style="width: 50%; float:left; height:100%; background:white; margin:0px; align-content: center;">
   <img src="{{url_for('static', filename='images/Edgecomputing.jpg')}}" width="100%" height="100%"> 
</div>
<div style="width: 40%; float:left; height:100%; background:white; margin:0px; align-content: center; padding: 20% 10% 10% 10%">
  <h1> Sign In </h1>
  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }} <br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }} <br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }}{{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
   </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
  {% endblock %}

