{% extends "base.html" %}

{% block content %}
<div class="grid-container">
     <div class="main-menu-item" >
        <div><img src="{{url_for('static', filename='images/Define.png')}}"> </div>
        <div><p> Define </p></div>
     </div>
     <div class="main-menu-item" >
        <img src="{{url_for('static', filename='images/Connect.png')}}" >
        <div><p> Connect </p></div>
     </div>
     <div class="main-menu-item" >
        <a href="http://localhost/dboard">
           <img src="{{url_for('static', filename='images/Monitor.jpeg')}}"> 
        </a>
        <div><p> Monitor </p></div>
     </div>
     <div class="main-menu-item" >
        <div><img src="{{url_for('static', filename='images/Manage.jpeg')}}"> </div>
        <div><p> Manage </p></div>
     </div>
     <div class="main-menu-item" >
        <img src="{{url_for('static', filename='images/Analyze.jpg')}}" >
        <div><p> Analyze </p></div>
     </div>
     <div class="main-menu-item" >
        <img src="{{url_for('static', filename='images/Monetize.png')}}"> 
        <div><p> Monetize </p></div>
     </div>
</div>
{% endblock %}

<!--    <div class="row">
      <div class="main-menu-item" id="mManage">
        <div id="iManage"> <img src="{{url_for('static', filename='images/Manage.jpeg')}}"> </div>
        <div id="lManage"><p> Manage </p></div>
      </div>
      <div  class="main-menu-item" id="mAnalyze">
        <div id="iAnalyze"> <img src="{{url_for('static', filename='images/Analyze.jpg')}}"> </div>
        <div id="lAnalyze"><p> Analyze </p></div>
      </div>
      <div  class="main-menu-item" id="mMonetize">
        <div id="iMonetize"> <img src="{{url_for('static', filename='images/Monetize.png')}}"> </div>
        <div id="lMonetize"><p> Monetize </p></div>
      </div>
     </div>
-->
